<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PopupPanel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>tempfile.dir</param-name>
    <param-value>tmpfiles</param-value>
  </context-param>
  <context-param>
    <param-name>excel.dir</param-name>
    <param-value>excel</param-value>
  </context-param>
  
   <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeFileServlet</display-name>
    <servlet-name>TypeFileServlet</servlet-name>
    <servlet-class>TypeFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeFileServlet</servlet-name>
    <url-pattern>/TypeFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>popupservlet</display-name>
    <servlet-name>popupservlet</servlet-name>
    <servlet-class>popupservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>popupservlet</servlet-name>
    <url-pattern>/popupservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleCommentServlet</display-name>
    <servlet-name>HandleCommentServlet</servlet-name>
    <servlet-class>HandleCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleCommentServlet</servlet-name>
    <url-pattern>/HandleCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleCommentServlet2</display-name>
    <servlet-name>HandleCommentServlet2</servlet-name>
    <servlet-class>HandleCommentServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleCommentServlet2</servlet-name>
    <url-pattern>/HandleCommentServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HostStatusServlet</display-name>
    <servlet-name>HostStatusServlet</servlet-name>
    <servlet-class>HostStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HostStatusServlet</servlet-name>
    <url-pattern>/HostStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFilterServlet</display-name>
    <servlet-name>SearchFilterServlet</servlet-name>
    <servlet-class>SearchFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFilterServlet</servlet-name>
    <url-pattern>/SearchFilterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCveidServlet</display-name>
    <servlet-name>SearchCveidServlet</servlet-name>
    <servlet-class>SearchCveidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCveidServlet</servlet-name>
    <url-pattern>/SearchCveidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MergeFilesServlet1</display-name>
    <servlet-name>MergeFilesServlet1</servlet-name>
    <servlet-class>MergeFilesServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MergeFilesServlet1</servlet-name>
    <url-pattern>/MergeFilesServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadFileServlet23</display-name>
    <servlet-name>DownloadFileServlet23</servlet-name>
    <servlet-class>DownloadFileServlet23</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet23</servlet-name>
    <url-pattern>/DownloadFileServlet23</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadFileServlet2</display-name>
    <servlet-name>DownloadFileServlet2</servlet-name>
    <servlet-class>DownloadFileServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet2</servlet-name>
    <url-pattern>/DownloadFileServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadFileEachHost</display-name>
    <servlet-name>DownloadFileEachHost</servlet-name>
    <servlet-class>DownloadFileEachHost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileEachHost</servlet-name>
    <url-pattern>/DownloadFileEachHost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadReportServlet</display-name>
    <servlet-name>DownloadReportServlet</servlet-name>
    <servlet-class>DownloadReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadReportServlet</servlet-name>
    <url-pattern>/DownloadReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleCommentServlet3</display-name>
    <servlet-name>HandleCommentServlet3</servlet-name>
    <servlet-class>HandleCommentServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleCommentServlet3</servlet-name>
    <url-pattern>/HandleCommentServlet3</url-pattern>
  </servlet-mapping>
</web-app>